.characters-card {
    transition: transform .3s ease;
    z-index: 0;
}

.characters-card:hover {
    transform: scale(1.1);
}


.characters-card .img-blur {
    filter: blur(10px);
}

.characters-card:hover .img-blur {
    filter: blur(0px);
}


.characters-card:hover .card{
    overflow: hidden;
}

.characters-card:hover .characters-img img{
    transform: scale(1.5);
}

.characters-img {
    transition: transform .3s ease;
    overflow: hidden;
    background-color: black;
}

.characters-img img {
    transition: transform .3s ease;
    overflow: hidden;
}

.characters-main2 {
    background-image: url("../../../../public/img/background/main2.webp");
}