.perso-img {
  height: 100vh;
  max-height: 100vh;
  background-color: black;
}

.perso-info {
  background-color: black;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}


h3 {
  color: black;
  flex-wrap: wrap;
}

.perso-list-id {
  list-style-type: none;
  float: left;
}


li {
  color: black;
  margin: 6px;
  text-align: justify;

}

.perso-img-test {
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: 150px;
  margin-left: 2%;
  margin-top: 2%;

}

.perso-section-id {
  display: flex;
  flex-wrap: wrap;
}

.example-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}