.homePage {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    margin: auto;
    background-image: url('/public/img/background/main.png');
    background-repeat: no-repeat;
}

.homePage-buttonHover {
    transition: transform 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}

.homePage-buttonHover:hover {
    transform: scale(1.1);
}

.homePage-img-logo {
    user-select: none;
}