.radio-input {
    display: flex;
    scale: 0.15;
    transform: rotate(180deg);
    width: 50%;
}

.star {
    margin: 1em;
    appearance: none;
    --color: white;
    border-left: 6.4721359549996em solid transparent;
    border-right: 6.4721359549996em solid transparent;
    border-bottom: 4em solid var(--color);
    transform: rotate(0deg);
    cursor: pointer;
}

.star:before {
    content: "";
    border-left: 6.4721359549996em solid transparent;
    border-right: 6.4721359549996em solid transparent;
    border-top: 4em solid var(--color);
    position: absolute;
    left: -6.4721359549996em;
    transform: rotate(108deg);
}

.star:after {
    content: "";
    border-left: 6.4721359549996em solid transparent;
    border-right: 6.4721359549996em solid transparent;
    border-top: 4em solid var(--color);
    position: absolute;
    left: -6.4721359549996em;
    transform: rotate(253deg);
}

.radio-input>.star:hover~.star,
.radio-input>.star:hover,
.radio-input>.star:checked~.star,
.radio-input>.star:checked {
    --color: yellow;
}

.radio-input>.star:checked~.star,
.radio-input>.star:checked {
    animation: grow 0.5s linear forwards;
    transition: transform 0.3s;
}

@keyframes grow {
    50% {
        scale: 2;
    }
}

.no-hover:hover {
    pointer-events: none;
  }
  